.flex-container-iniciar-sesion{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    
}

.flex-item-right-sesion {
    flex: 50%;

   
}

.flex-item-left-sesion {
    flex: 50%;
    
  

}

.img-left-sesion{
    margin: 0 auto;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-left: 50px;
    border-radius: 10px;
    background-attachment: fixed;
}


.flex-item-right-sesion .contacto {
    font-size: 36px;
    text-align: center;
}

.input-box-iniciar-sesion {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
   
}

.input-box-iniciar-sesion .input-register {
    width: 100%;
    height: 100%;
   background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
   /* color: #fff;*/
    padding: 20px 40px 20px 20px;
    text-align: center;
}
.input-box-iniciar-sesion .i{
    position: absolute;
    right: 90%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
}


.placeholder-oscuro::placeholder{
    color: #F7F7F7;
}
.placeholder-oscuro::placeholder:focus{
    border: 3px solid #555;
}

.placeholder-claro::placeholder{
    color: #222831;
}



.flex-item-right-sesion .btn-send {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 30px;
}

.flex-item-right-sesion .btn-send:hover {
    transition: all 1s;
    background-color: #333;
    color: #fff;

}

.info-inicia-sesion {
    border: 1px solid white;
}

.registrarse {
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
}

.registrarse:hover {
    transition: all 1s;
    font-size: 1.1em;
    border-radius: 10px;
    color: #001524;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 2em;
    padding: 20px;
}


.recuperar-contrasenia{
    margin-left: 34.33%;
    text-decoration: none;

}
.border-textarea{
    width: 100%;
    height:120px;
    padding: 10px;
    
}

.border-textarea::placeholder{
    margin: 0 auto;
  
}

@media (max-width: 1060px) {
    .flex-container-iniciar-sesion{
        flex-direction: column;
    
      
        
    }
    .flex-item-right-sesion{
        margin-top: 50px;  
        height: 100%;
        padding-top: 50px;
        padding-bottom: 80px;
    
       
    

    }
    .input-register{
        width: 100%;
    }
    .contacto{
        font-size: 0.5em;
    }
    .registrarse{
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .flex-item-left-sesion{
       display: none;
    
    }
    .top-left{
        padding-bottom: 50px;
       margin-bottom: 60px;
    }
    .flex-item-right-sesion{
        width: 90%;
        margin-left: 20px;

    }


}

@media (max-width: 600px) {
    .flex-item-left-sesion{
        display: none;
    }
    .top-left{
        text-align: center;
    }
    .recuperar-contrasenia{
        margin-left: 15%;
    }
    .flex-item-right-sesion{
       
        margin: auto;
        padding-right: 30px;
        justify-content: center;
        align-items: center;
        
    }
}