.container-draw{
   display: flex;
   justify-content: center;
   margin: 130px auto;
}

.btn-reiniciar-presentacion{
    border: 1px solid black;
    margin-top: -10px;
}

.sector-btn{
    margin-top: 50px;
}


@media (max-width: 800px) {
   .container-draw{
       flex-direction: column;
       margin: 0 auto;
   }
   .section-dibujo{
         margin-top: 50px;
         width: 100%;
   }   
}