.container-home{
   margin-bottom: 260px;
  
   
    

}

.container-dashboard {
    max-width: 1800px;
    margin: 0 auto;
   
}

.salir {
    cursor: pointer;
    font-size: 1.3em;
    
}

.section-informacion {
    margin-left: 30%;
    padding: 1px 16px;
    height: 100%;
   
}

.submenu-vertical-dashboard {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 25%;
    position: fixed;
   
    overflow: auto;
}

.border-negro {
    border-right: 1px solid white;
}

.border-blanco {
    border-right: 1px solid black;
}


.submenu-vertical-dashboard li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    
}

.submenu-vertical-dashboard li a.active {
    background-color: #04AA6D;
    color: white;
}

.submenu-vertical-dashboard li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.logo-dashboard {
    font-size: 1.3em;
    padding-top: 10px;
}

.desaparecer-pc {
    display: none;
}

.marcos {
    width: 100%;
    height: 150px;
    overflow: hidden;
    /* oculta el contenido que se desborda */
    text-overflow: ellipsis;
    white-space: nowrap;
    /* evita saltos de línea */
    padding: 1rem;
    box-sizing: border-box;
}

.marcos:hover{
    transition: all 1s;
    box-shadow: 10px 10px #FDFAF6;
}

.fondo-negro{
    background-color: #555;
}
.fondo-blanco{
    background-color: #04AA6D;
    color: #F5F5F5;
}

.link-cliente{
    text-decoration: none;
    color: #F5F5F5;
}


/*calculador*/
.calculadora{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}
.inputs{
    border: 1px solid black;
    background-color: #FDFAF6;
    padding: 5px;
    color: #555;
    width: 50%;
    margin: 10px auto;
    
}

.btn-calcular{
    border: 1px solid black;
    width: 50%;
    margin: 10px auto;
    padding: 5px;   
}

/*salir de calculadora*/

@media (max-width: 800px) {
    .desaparecer-dispositivo {
        display: none;
    }

    .desaparecer-pc {
        display: block;
    }

    .container-dashboard-responsive {
        margin-left: 6px;
        margin-right: 5px;
        margin-top: 80px;
    }

    .section-app-item {
        border: 1px solid black;
        padding-top: 2px;

    }
}