.container-dashboard {
    max-width: 1800px;
    margin: 0 auto;

}



.section-informacion {
    margin-left: 30%;
    padding: 1px 16px;
    height: 100%;

}


.border-negro {
    border-right: 1px solid white;
}

.border-blanco {
    border-right: 1px solid black;
}






.desaparecer-pc {
    display: none;
}



.fondo-negro {
    background-color: #EFEEEA;
    color: #555;
}

.fondo-blanco {
    background-color: #60B5FF;
    color: #F5F5F5;
}

.fondo-blanco:hover {
    transition: all 1s;
    box-shadow: 10px 10px #222831;
}

.link-cliente {
    text-decoration: none;

}



.card-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.card-column {
    width: 33.33%;
    box-sizing: border-box;
    padding: 1rem;
}

.carousel-container-demo {
    /* Ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.carousel-background {
    overflow: hidden;
    flex: 50%;

    background-size: cover;


}

.carousel-content {
    flex: 50%;
    background-color: #1A1A19;
}

.carousel-content h1 {
    margin: 500px auto;
}

/* especificacion de tecnologias usadas en chatbot */
.container-demos-tecnologias-usadas-chatbot {
    display: flex;
    flex-direction: row;

}

.flex-item-left-tecnologias-chatbot {
    flex: 50%;



}

.imagen-logo-tecnologias-demo {
    margin-left: 33.34%;
}

.flex-item-right-tecnologias-chatbot {
    flex: 50%;

    margin: 0 auto;
    padding: 50px;

}

.bloque {
    border-color: black;
    padding: 15px;
    margin-top: 10px;
    border-style: dotted;
    border-width: 2px;
}




/*salir de calculadora*/

.btn-atras-formulas {
    max-width: 1800px;
    margin: 0 auto;
}

/*Bloque de codigo para rocket v3*/


.container-info-rocketv3 {
    display: flex;
    flex-direction: row;

}

.flex-item-left-rocketv3 {
    flex: 50%;
    
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.flex-item-right-rocketv3 {
    flex: 50%;

}
.imagen-representativa-rocket{
    border-radius: 100px 100px 100px 100px;
    margin-left: 10px;
    width: 100%;
    height: auto;
}
.bloque-informacion-rocket{
    margin: 150px auto;
}


@media (max-width: 860px) {
    .imagen-logo-tecnologias-demo {
        margin-left: 30px;

    }

}


@media (max-width: 800px) {
    .container-demos-tecnologias-usadas-chatbot {
        flex-direction: column;
    }
    .container-info-rocketv3 {
        flex-direction: column;
    }
    .flex-item-right-rocketv3{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 20px;
    }

    .desaparecer-dispositivo {
        display: none;
    }

    .desaparecer-pc {
        display: block;
    }

    .container-dashboard-responsive {
        margin-left: 6px;
        margin-right: 5px;

    }

    .section-app-item {
        border: 1px solid black;
        padding-top: 2px;

    }


    .btn-atras-formulas {
        margin-left: 10px;
    }

    .imagen-logo-tecnologias-demo {
        width: 100%;
    }

    .carousel-background {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 200px;
    }



}

@media (max-width: 1450px) {
    .carousel-container-demo {
        flex-direction: column;
    }

    .carousel-content {
        display: none;
    }

}