.container-voltajes {
    max-width: 1800px;
    margin: 0 auto;
    margin-left:12px;
}
.aparecer-responsive{
    display: none;
}

@media (max-width: 768px) {
   .aparecer-responsive{
    display: block;
   }
}

