.menu-links {
    display: flex;
    justify-content: flex-end;
}

.menu-links li {

    margin-top: -30px;
    margin-left: 10px;
    list-style: none;
    text-align: center;
}

.menu-links .a {
    list-style: none;
    text-decoration: none;
    transition: all 1s;

}

.logo {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;

}

.item-link-menu {
    margin-top: 30px;
    margin-bottom: 10px;
}


.logo .a {
    text-decoration: none;
    font-size: 1.3em;


}


.switch {
    margin-left: 30px;
    margin-right: 50px;
}

.navbar-container {
    padding: 20px;
    border-bottom: 1px solid #222831;
    max-width: 1800px;
    margin: 0 auto;

}



.bordes {

    border-radius: 10px;
    padding: 10px;
    background-color: #60B5FF;
    font-weight: bold;
}

.bordes:hover {
    transition: all 1s;
    font-size: 1.1em;
}

.aparece-PC {
    display: flex;
}

.nav-links-responsive-aparece {
    display: none;
}

.aparecer-responsive {
    display: none;
}


@media (max-width: 798px) {
    .logo {
        display: none;
    }

    .aparecer-responsive {
        display: block;
    }


    .desaparece-dispositivo {
        display: none;
    }

    .nav-links-responsive-aparece {
        display: flex;
        text-align: center;
        flex-direction: column;


    }

    .nav-links-responsive-aparece li {

        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .nav-links-responsive-aparece .li-responsive:hover {
        transition: all 1s;
        padding-left: 50px;
        font-weight: bold;
        border-radius: 10px;

    }

    .link-responsives {
        text-decoration: none;
    }


    .switch {
        margin: 0 auto;
    }

    .logo-desaparecer {
        display: flex;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .logo-desaparecer .a {
        text-decoration: none;
    }





}