.container-funcionamiento {
    width: 100%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}



.gallery {
    display: flex;
    /*gap: 20px;*/
    flex-wrap: wrap;
    justify-content: center;
 
    position: relative;

}
.image{
    width: 400px;
    height: 250px;
    margin:  0 auto;

}

.card {
    width: 500px;
    height: 330px;
    /*background: white;*/
   /* border-radius: 16px;*/
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;

}


.card.expanded {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    height: auto;
    z-index: 10;
    padding: 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    background: white;
    color: #212121;
}

.image-svg{
    width: 100%;
}

@media (max-width: 700px){
    .card{
        width: 100%;
    }
    .card.expanded{
        left: 10%;
    }
}

@media (max-width: 1060px){
    .card{
        width: 100%;
    }

}