.container-circuito-paralelo {
    max-width: 1800px;
    margin: 0 auto;
}


@media (max-width: 800px) {
    .container-formula-circuito-en-serie {
        padding: 20px;
    }

    .inputs {
        display: flex;
        margin: 20px auto;
        width: 100%;
        text-align: center;
        background-color: aliceblue;
        color: black;
        padding: 5px;

    }

    .btn-agregar {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        width: 100%;
        font-size: 1.3em;
    }

    .lista-resistencias{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
   
    .btn-borrar{
        border: 1px solid black;
        justify-content: center;
        display: flex;
        margin: 4px auto;
        width: 100%;
        font-size: 1.3em;
  

    }
    .resistencia{
        
        margin: 0 auto;
        display: flex;
        justify-content: center;
        
    }

}