.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: -30px;
}


.icon {
  font-size: 2.5rem;
  transition: transform 0.2s ease-in-out;

  border-radius: 50px;

}

.whatsapp-button:hover .icon {
  transform: scale(1.1);
}

.tooltip {
  background-color: white;
  color: #222831;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateX(2px);
  transition: opacity 0.3s ease;
}

.whatsapp-button:hover .tooltip {
  opacity: 1;
}

.whatsapp {
  font-size: 1.5em;
  color: white;

}

@media (max-width: 800px) {
  .container-whatsapp {
    display: none;
  }

}