.container-dashboard {
    max-width: 1800px;
    margin: 0 auto;

}



.section-informacion {
    margin-left: 30%;
    padding: 1px 16px;
    height: 100%;

}

.submenu-vertical-dashboard {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 25%;
    position: fixed;

    overflow: auto;
}

.border-negro {
    border-right: 1px solid white;
}

.border-blanco {
    border-right: 1px solid black;
}


.submenu-vertical-dashboard li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;

}

.submenu-vertical-dashboard li a.active {
    background-color: #04AA6D;
    color: white;
}

.submenu-vertical-dashboard li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.logo-dashboard {
    font-size: 1.3em;
    padding-top: 10px;
}

.desaparecer-pc {
    display: none;
}

.marcos {
    width: 100%;
    height: 150px;
    overflow: hidden;
    /* oculta el contenido que se desborda */
    text-overflow: ellipsis;
    white-space: nowrap;
    /* evita saltos de línea */
    padding: 1rem;
    box-sizing: border-box;
}

.marcos:hover {
    transition: all 1s;
    box-shadow: 10px 10px #FCEF91;
}

.fondo-negro {
    background-color: #EFEEEA;
    color: #555;
}

.fondo-blanco {
    background-color: #60B5FF;
    color: #F5F5F5;
}

.fondo-blanco:hover {
    transition: all 1s;
    box-shadow: 10px 10px #222831;
}

.link-cliente {
    text-decoration: none;

}



.card-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.card-column {
    width: 33.33%;
    box-sizing: border-box;
    padding: 1rem;
}

.carousel-container-demo {
    /* Ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: auto;
    background-size: cover;
}

.carousel-background {
    overflow: hidden;
    flex: 50%;

    height: auto;
    background-size: cover;
    background-repeat: no-repeat;

}

.carousel-content {
    flex: 50%;
    background-color: #1A1A19;
    width: 100%;
    height: auto;
}
.carousel-content p{
    margin: 500px auto;
}




/*salir de calculadora*/

.btn-atras-formulas {
    max-width: 1800px;
    margin: 0 auto;
}


@media (max-width: 800px) {
    .desaparecer-dispositivo {
        display: none;
    }

    .desaparecer-pc {
        display: block;
    }

    .container-dashboard-responsive {
        margin-left: 6px;
        margin-right: 5px;

    }

    .section-app-item {
        border: 1px solid black;
        padding-top: 2px;

    }


    .btn-atras-formulas {
        margin-left: 10px;
    }



}