.container-politica-privacidad {
    max-width: 1800px;
    margin: 0 auto;
   

}

.terminos-privacidad {
    margin-bottom: 20px;
    margin-top: 20px;
   

}

.container-politicas {

    padding: 20px;
}

.container-privacidad {
 
    padding: 20px;
}